<header id="top-banner">
  <nav>
    <div class="left">
      <a href="/"> <img id='logo' src="/images/logo.png "> </a>
      SMART TODOs
    </div>
    <div class="right">
      <% if (!userID) { %>
      <form method="POST" action="/users/login">
        <input type="name" name="username" placeholder="your username">
        <button class="button-4" role="button">Login</button>
      </form>
      <% } else {%>
      <form method="POST" action="/users/logout">
        <button class="button-4" role="button">Logout</button>
      </form>
      <a class="nav-link" href="/users">Setting</a>
      <%}%>
    </div>
  </nav>

  <div>
    <img id="profile" src="/images/profile-pic.webp">
    <% if (!userID) { %>
    <h3> Username </h3>
    <% } else {%>
    <h3> <%=username%> </h3>
    <%}%>
  </div>
</header>
