<header id="top-banner">
  <nav>
    <div class="left">
      <a href="/"> <img id='logo' src="/images/logo.png "> </a>
      SMART TODOs
    </div>
    <div class="right">
      <input type="email" placeholder="your email address">
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/users">Setting</a>
    </div>
  </nav>

  <div>
    <img id="profile" src="/images/profile-pic.webp">
    <h3>Username</h3>
  </div>
</header>
