<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/button.css" />
  <link rel="stylesheet" href="/styles/all-lists.css" />

  <!-- External JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <!--External Fonts-->
  <script src="https://kit.fontawesome.com/64bce3f621.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&family=VT323&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">
</head>

<body>
  <header id="top-banner">
    <nav>
      <div class="left">
        <img id='logo' src="/images/logo.png ">
        SMART TODOs
      </div>
      <h3>Setting</h3>
    </nav>

    <div>
      <img id="profile" src="/images/profile-pic.webp">
      <h3>Username</h3>
    </div>
  </header>

  <main>
    <form class="new-item" action="/items" method="POST">
      <div class="user-input">
        <div class="user-input-right">
          <div>NEW ITEM:</div>
          <div>DEADLINE:</div>
          <div>LIST:</div>
        </div>

        <div class="user-input-left">
          <input type="text" placeholder="Add a task!" />
          <input type="date" />
          <input type="text" placeholder="Your recommend list wil be..." />
        </div>
      </div>
      <button type="submit" class="button-56">Submit</button>
    </form>


    <section class="all-lists">
      <div class="each-row">
        <div class="per-list">
          <header>
            <h3>👀 to watch:</h3>
          </header>
          <article>
            <div class="check-item">
              <input type="checkbox" name="checkbox" id="checkbox">
              <p>Watch FA ep9!</p>
            </div>
            <footer>
              <i class="fa-regular fa-clock" style="color: #a52a2a;"></i>
              deadline: new Wed
            </footer>
          </article>
        </div>

        <div class="per-list">
          <header>
            <h3>😋 to eat:</h3>
          </header>
          <article>
            <div class="check-item">
              <input type="checkbox" name="checkbox" id="checkbox">
              <p>Watch FA ep9!</p>
            </div>
            <footer>
              <i class="fa-regular fa-clock" style="color: #a52a2a;"></i>
              deadline: new Wed
            </footer>
          </article>
        </div>

      </div>

      <div class="each-row">
        <div class="per-list">
          <header>
            <h3>📖 to read:</h3>
          </header>
          <article>
            <div class="check-item">
              <input type="checkbox" name="checkbox" id="checkbox">
              <p>Watch FA ep9!</p>
            </div>
            <footer>
              <i class="fa-regular fa-clock" style="color: #a52a2a;"></i>
              deadline: new Wed
            </footer>
          </article>
        </div>

        <div class="per-list">
          <header>
            <h3>🛍 to buy:</h3>
          </header>
          <article>
            <div class="check-item">
              <input type="checkbox" name="checkbox" id="checkbox">
              <p>Watch FA ep9!</p>
            </div>
            <footer>
              <i class="fa-regular fa-clock" style="color: #a52a2a;"></i>
              deadline: new Wed
            </footer>
          </article>
        </div>

      </div>

      <div class="each-row">
        <div class="per-list">
          <header>
            <h3>❓ Other:</h3>
          </header>
          <article>
            <div class="check-item">
              <input type="checkbox" name="checkbox" id="checkbox">
              <p>Watch FA ep9!</p>
            </div>
            <footer>
              <i class="fa-regular fa-clock" style="color: #a52a2a;"></i>
              deadline: new Wed
            </footer>
          </article>
        </div>
      </div>
    </section>

  </main>

</body>

</html>
