// See: https://sass-lang.com/

* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
}

body {
  color: #030302;
  background: #B1B99D;
  font-size: 22px;
  font-family: 'Source Sans 3', sans-serif;
}
