.new-item {
  .user-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1.5rem;

    .user-input-right {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      padding-right: 1rem;
    }

    .user-input-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      input {
        width: 30rem;
      }

      #list-category {
        width: 30rem;
      }
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}


